.customBtn {
    background-color: #eee !important;
    color: red !important;
    min-width: max-content !important;
}
.empty-p{
    color:  hsl(12, 20%, 44%);
}

.card-btn:hover{
    background-color: hsl(14, 86%, 42%) !important;
    color: whitesmoke !important;
}

.bg-carbon{
    background-color: hsl(13, 31%, 94%);
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
}
.order-btn:hover{
    background-color: hsl(14, 86%, 42%) !important;
}
.start-order{
    background-color: hsl(14, 86%, 42%) !important;
    color: whitesmoke !important;
}

.x-circle, .increase, .decrease{
    height: 24px;
    width: 24px;
    padding: 4px;
    border: 3px solid hsl(13, 31%, 94%);
    border-radius: 50%;
    color: hsl(13, 31%, 94%);
    cursor: pointer;
}

